---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="JF Yardworks - A Maine Landscaping Company">
  <div class="page-container">
    <div class="container">
      <div class="logo">
        <Logo />
      </div>
      <ul role="list" class="link-card-grid">
        <Card
          href="https://clienthub.getjobber.com/client_hubs/78fd0527-825e-45be-9bc3-9de2006b5a60/public/work_request/new?source=website"
          title="Get in touch"
          body="Contact us to get started on a new project!"
          target="_blank"
        />
        <Card href="/about" title="About Us" body="Learn about us and our family owned business" target="_self" />
      </ul>
      <h1>Website is in progress. <br /><span class="text-gradient">Check back soon</span></h1>
    </div>
  </div>
</Layout>

<style>
  .page-container {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95)) fixed,
      url(truck.jpg) fixed;
    background-size: cover;
    background-position: center;
  }
  .container {
    margin: 0 auto;
    height: 100dvh;
    max-width: 768px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.6;
    gap: var(--gap);
    padding-inline: 24px;
  }
  .logo {
    max-width: 768px;
    height: 220px;
    width: 100%;
  }
  .text-gradient {
    background: var(--accent-gradient);
    /* background: rgb(35,219,164); */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .link-card-grid {
    margin: 0;
    padding: 0;
    display: grid;
    gap: var(--gap);
  }
</style>
