---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
---

<Layout title="JF Yardworks - A Maine Landscaping Company">
  <main>
    <Logo class="logo" />
    <div>
      <h1>Website <span class="text-gradient">coming soon</span></h1>
      <ul role="list" class="link-card-grid">
        <Card
          href="https://clienthub.getjobber.com/client_hubs/78fd0527-825e-45be-9bc3-9de2006b5a60/public/work_request/new?source=website"
          title="In the meantime"
          body="Contact us to get started on a new project!"
        />
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    height: 100dvh;
    max-width: 768px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .logo {
    max-width: 100%;
    padding: 20px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
