---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="JF Yardworks - A Maine Landscaping Company">
  <div class="page-container">
    <div class="container">
      <h1>Website is in progress. <br /><span class="text-gradient">Check back soon</span></h1>
    </div>
  </div>
</Layout>

<style>
  .page-container {
    background:
      linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.15)) fixed,
      url(/lawnmower.avif) fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: grid;
    place-content: center;
  }
  .container {
    margin: 0 auto;
    max-width: 768px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.6;
    gap: var(--gap);
    padding-inline: 24px;
    background: var(--surface-dark);
    border-radius: 8px;
    margin: 0 32px 300px 32px;
  }

  .link-card-grid {
    margin: 0;
    padding: 0;
    display: grid;
    gap: var(--gap);
  }
</style>
