---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="JF Yardworks - A Maine Landscaping Company">
  <main>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 858.82 207.64" class="logo" aria-hidden="true"
      ><path
        d="M48.85 21.89a111.68 111.68 0 1 0 157.94 0c-.89-.88-1.78-1.75-2.69-2.6a104.33 104.33 0 1 1-152.56 0c-.91.85-1.8 1.72-2.69 2.6"
        style="fill:#8db73f;fill-rule:evenodd"
        transform="translate(-16.14 -4.91)"></path><path
        d="M113.64 58.88q-5.44-9-22.61-16.55 19.11 6 24.56 14.87 1.6-16.33-34.85-20.12 18.45 32.67 32.9 21.8M137.42 73.65q5.87-6.59 21.2-10.25-16.69 2.06-22.55 8.6 1.14-13.75 31.86-11.34-20.2 24.21-30.51 13M201.51 147.29c-45-13.29-94.88-2.43-134.55 21.46.55.45 1.11.88 1.68 1.3a97.76 97.76 0 0 0 18 10.8q2.32 1.08 4.7 2l1.2.47c30-23.55 66.41-37.72 109-36.07"
        style="fill:#8db73f;fill-rule:evenodd"
        transform="translate(-16.14 -4.91)"></path><path
        d="M207.37 149.16c-38.54 2.08-71.93 17.24-97.89 39.06a97.89 97.89 0 0 0 16.1 1.71h3.71a97.8 97.8 0 0 0 25.54-3.79 105 105 0 0 1 52.54-37M73.22 154.55q9.45-3.92 19.1-6.84a199.91 199.91 0 0 1 21.89-5.31l.82-5.71a236 236 0 0 0-28.25 3.56c-1.47.27-2.93.56-4.39.87q-5 1-10 2.29c-2.48.63-5 1.3-7.42 2q-7.92 2.29-15.71 5.13a97.48 97.48 0 0 0 9.28 10.73q7.26-3.66 14.65-6.72m51.61-13.81a211 211 0 0 1 49.07-.47 235.22 235.22 0 0 0-49.37-4Z"
        style="fill:#4a7c3a;fill-rule:evenodd"
        transform="translate(-16.14 -4.91)"></path><path
        d="M123 143.55c-3.61-31.86 12.47-60.51 51.07-55.69-20.54-.7-40.73 11-46 30.57 22.95 14.13 35.7-11.23 70.57-29.8C172.9 77 132.89 76.08 125 102c2.1-16.84 4-29.71 6.67-41.73 18.77 1.26 28.16-21.21 23-55.31-33.32 19.72-45.26 42-29.34 54a79.62 79.62 0 0 1 18.44-36.4c-12.47 20.07-18.34 45.59-22.32 68.73-1.54-6-2.17-14.5-5.62-19.08-7.55-10-29.25-9.31-54.67-9.1C65.27 93.53 97.34 103 115 92.45c-6.45-22-17.38-22.68-32.18-23.07 45-8 36.28 43.78 33.09 75.91q3.54-.93 7.11-1.74"
        style="fill:#4a7c3a;fill-rule:evenodd"
        transform="translate(-16.14 -4.91)"></path><path
        d="M726.68 89.69a37.25 37.25 0 0 1-33.95 37.05 30.86 30.86 0 0 1-3.72.15 20.77 20.77 0 0 1-2.47-.11v-13.96c-3.42-1.93-11.26-7.1-15.13-15.57-5-11-1.49-23.46-1.49-23.46s11.75 5.43 16.79 16.45a31.91 31.91 0 0 1 2.7 12.43 25.61 25.61 0 0 1 3.72-8.06c5.87-8.25 16.35-10.87 16.35-10.87s1 10.77-4.89 19c-4.76 6.71-12.58 9.69-15.34 10.57v11.38c1.16 0 2.32 0 3.48-.15a35 35 0 1 0-25.45-61.95c-.93.78-1.83 1.59-2.69 2.46a35 35 0 0 0 18.84 59.12v2.19a37.19 37.19 0 1 1 43.25-36.69Z"
        style="fill:#8db73f"
        transform="translate(-16.14 -4.91)"></path><text
        style="font-size:100px;fill:#4a7c3a;font-family:Futura-Medium,Futura;font-weight:500;letter-spacing:-.12em"
        transform="translate(241.5 121)"
        >JF <tspan x="86.71" y="0" style="fill:#f0efef;letter-spacing:-.18884765625em">Y</tspan><tspan x="127.83" y="0" style="fill:#f0efef"
          >AR</tspan
        ><tspan x="238.11" y="0" style="fill:#f0efef;letter-spacing:-.14685546875em">D</tspan><tspan
          x="296.03"
          y="0"
          style="fill:#f0efef;letter-spacing:-.1541796875em">W</tspan
        ><tspan x="386.67" y="0" style="fill:#f0efef">OR</tspan><tspan x="512.23" y="0" style="fill:#f0efef;letter-spacing:-.14783203125em"
          >K</tspan
        ><tspan x="563.7" y="0" style="fill:#f0efef">S</tspan></text
      ><text
        style="font-size:41.10641860961914px;fill:#e6e7e8;font-family:Futura-CondensedMedium,Futura;font-weight:500;letter-spacing:.06584234434173385em"
        transform="translate(239.65 174)"
        >R<tspan x="20.03" y="0" style="letter-spacing:.08000147738437263em">esidential &amp; Comme</tspan><tspan
          x="339.35"
          y="0"
          style="letter-spacing:.08291170187719688em">r</tspan
        ><tspan x="353.74" y="0" style="letter-spacing:.08001335585169028em">cial Landscaping</tspan></text
      ></svg
    >
    <div class="">
      <h1>Website <span class="text-gradient">coming soon</span></h1>

      <ul role="list" class="link-card-grid">
        <Card
          href="https://clienthub.getjobber.com/client_hubs/78fd0527-825e-45be-9bc3-9de2006b5a60/public/work_request/new?source=website"
          title="In the meantime"
          body="Contact us to get started on a new project!"
        />
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    height: 100dvh;
    max-width: 768px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .logo {
    max-width: 100%;
    padding: 20px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
